@use '_colorpalette' as colors;
    
form {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    background: whitesmoke;
    padding: 40px;
    input {
        max-width: fit-content;
        height: auto;

        &[type="submit"] {
            margin-top: 10px;
            background-color: colors.$cultured;
            border: 1px solid lightgrey;
            border-radius: 5px;

            &:hover {
                background-color: colors.$morning-blue;
            }
   
            &:hover {
            color: colors.$independence;
            }   
        }
    }
}

#location-form {
    border-bottom: 1px solid #282828;
    padding-bottom: 10px;
}

#date-form {
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid #282828;
    padding: 10px 0 10px 0;
}

@media screen and (min-width: 440px) {
    #date-form {
        flex-direction: row;

        label {
            margin: 0 5px 0 5px;
        }
    }
}
