@use '_colorpalette' as colors;
@use '_variables' as vari;

#trip-container {
    width: 75%;
    margin: 0 auto;
}

.max_avg {
    color: crimson;
}

.min_avg {
    color: royalblue;
}

.trip-card {
    display: flex;
    flex-direction: column;
    background-color: colors.$morning-blue;
    padding: 10px;
}

.depart-date {
    p {
        margin: 0;
    }
}

.weather-info {
    display: flex;
    flex-direction: column;
}

.weather-descr {
    margin: unset;
}

.weather-icon {
    max-width: 60px;
    align-self: flex-start;
}

.trip-pic {
    background-size: cover !important;
    width: 100%;
    height: 200px;
    padding: unset;
    margin: unset;
}

.save-button, .delete-button {
    font-family: vari.$serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid colors.$independence;
    margin-top: 3px;

    &:hover {
        box-shadow: 0 0 6px rgba(35, 173, 278, 1);
    }
}

.save-button {
}

.delete-button {
    background-color: crimson;
    color: colors.$cultured;
}



@media screen and (min-width: 300px) {
}

@media screen and (min-width: 470px) {
}

@media screen and (min-width: 1366px) {
}
