@use '_colorpalette' as colors;

#trip-container {
    width: 75%;
    margin: 0 auto;
}

.max_avg {
    color: crimson;
}

.min_avg {
    color: royalblue;
}

.trip-title {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.depart-date {
    grid-column: 1;
    grid-row: 2
}

.weather-info {
    grid-column: 1 / span 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: 75% auto;
    margin: auto;
}

.weather-descr {
    grid-column: 1;
    grid-row: 2;
    margin: 5px 0;
    justify-self: left;
}

.avg-temps {
    grid-column: 1;
    grid-row: 1;
    margin: 5px 0;
}

.weather-icon {
    grid-column: 2;
    grid-row: 2;
    width: 20%;
    align-self: center;
}

.trip-pic {
    grid-column: 1 / span 2;
    grid-row: 4;
    width: inherit;
    min-height: 200px;
    background-size: cover !important;
}

.save-button, .delete-button {
    grid-row: 5;
    margin: 5px;
    margin: 10px;
    min-height: 30px;
    width: auto;
}

.save-button {
    grid-column: 1;
}

.delete-button {
    grid-column: 2;
}

.trip-card {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: repeat(4, 25%);
    background-color: colors.$morning-blue;

    padding: 20px;
    margin: 20px 0;
}

@media screen and (min-width: 470px) {
    .trip-card {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-rows: 10% 45% auto;
    }
    
    .trip-pic {
        grid-column: 2;
        grid-row: 1 / span 3;
    }
        
    .trip-title {
        grid-column: 1;
        grid-row: 1;
    }

    .depart-date {
        grid-column: 1;
        grid-row: 2;
        align-self: center;
    }

    .weather-info {
        grid-column: 1;
        grid-row: 3;
        margin: initial;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1366px) {
    .trip-card {
        height: 300px;
    }
}
